---
interface Props {
  title: string;
  subtitle?: string;
  tagline?: string;
  align?: "start" | "center";
  webLink?: string;
  figmaLink?: string;
  behance?: string[];
}

const {
  align = "center",
  tagline,
  title,
  subtitle,
  webLink,
  figmaLink,
} = Astro.props;
---

<div class:list={["hero stack gap-4", align]}>
  <div class="stack gap-2">
    <h1 class="text-5xl">{title}</h1>
    {
      subtitle && (
        <h2 class=" text-[#4AC4B7] font-semibold text-4xl">{subtitle}</h2>
      )
    }
    {tagline && <p class="tagline">{tagline}</p>}
  </div>

  <slot />

  <div class="flex flex-1 gap-3 flex-col text-sm">
    {
      webLink && (
        <div class="flex gap-1">
          <p class="font-bold">Live Website:</p>
          <a class="font-semibold" href={webLink} target="_blank">
            Visit Website
          </a>
        </div>
      )
    }
    {
      figmaLink && (
        <div class="flex gap-1">
          <p class="font-bold">Design on Figma:</p>
          <a class="font-semibold" href={figmaLink} target="_blank">
            Check the Figma file
          </a>
        </div>
      )
    }
  </div>
</div>

<style>
  .hero {
    font-size: var(--text-lg);
    text-align: center;
  }

  .title,
  .tagline {
    max-width: 30ch;
    margin-inline: auto;
  }

  .title {
    font-size: var(--text-2xl);
    color: var(--gray-0);
  }

  @media (min-width: 50em) {
    .hero {
      font-size: var(--text-xl);
    }

    .start {
      text-align: start;
    }

    .start .title,
    .start .tagline {
      margin-inline: unset;
    }

    .title {
      font-size: var(--text-5xl);
    }
  }
</style>
