---
import Icon1 from "../../public/assets/svg/icon1.astro";
import Icon2 from "../../public/assets/svg/bosquejo.astro";
import Icon3 from "../../public/assets/svg/digitalDesign.astro";

import { getI18n } from "../i18n";

const { currentLocale = "en" } = Astro;
const i18n = getI18n({ currentLocale });
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <!--  <Icon icon="uxui" color="var(--accent-regular)" size="2.5rem" gradient /> -->
    <Icon1 />
    <h2>{i18n.UX_UI_DESIGNER_TITLE}</h2>
    <p>
      {i18n.UX_UI_DESIGNER_DESCRIPTION}
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon3 />

    <h2>{i18n.Digital_Designer_TITLE}</h2>
    <p>
      {i18n.Digital_Designer_DESCRIPTION}
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon2 />
    <h2>{i18n.PRINT_DESIGNER_TITLE}</h2>
    {i18n.PRINT_DESIGNER_DESCRIPTION}
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
